[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cayleyR"]
	path = cayleyR
	url = https://github.com/zabis13/cayleyr
[submodule "ggmlR"]
	path = ggmlR
	url = https://github.com/zabis13/ggmlr
