[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AV1R"]
	path = AV1R
	url = https://github.com/zabis13/av1r
[submodule "cayleyR"]
	path = cayleyR
	url = https://github.com/zabis13/cayleyr
[submodule "cgvR"]
	path = cgvR
	url = https://github.com/zabis13/cgvr
[submodule "drogonR"]
	path = drogonR
	url = https://github.com/zabis13/drogonr
[submodule "ggmlR"]
	path = ggmlR
	url = https://github.com/zabis13/ggmlr
[submodule "llamaR"]
	path = llamaR
	url = https://github.com/zabis13/llamar
[submodule "sd2R"]
	path = sd2R
	url = https://github.com/zabis13/sd2r
